html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

:root {
  // 距离相关
  --xcode-render-padding-sm: 8px;
  --xcode-render-padding-base: 16px;
  --xcode-render-container-padding: 16px 24px;
  --xcode-render-padding-lg: 24px;
  --xcode-render-border-radius-base: 4px;
  // 字体相关
  --xcode-render-font-size-base: 14px;
  // 颜色相关
  --xcode-render-font-color-base: #2c2f3a;
  --xcode-render-bg-color-base: #fff;
  --xcode-render-bg-color-dark-base: #272c3c;
  --xcode-render-bg-color-dark: #2e3344;
  --xcode-render-alert-message-color: #ed6a0c;
  --xcode-render-close-icon-color: #9b9eab;
  --xcode-render-color-gray-light: #4b5166;
  --xcode-render-color-gray-base: #30333f;
  //TODO wyf 临时屏蔽主题样式
  --xcode-render-primary-color: var(--xc-primary-color);
  --xcode-render-menu-primary-color: #001529;
  --xcode-render-menu-deep-dark-color: #000c17;
  --xcode-render-icon-color-base: #117afd;
  --xcode-render-table-thead-cell-bg-color: yellow;
  --xcode-render-border-color: #2e3344;
  //边框
  --xcode-render--radius-lg: 4px;
}
