:root:root {
  --xc-primary-1: #f7f7f8;
  --xc-primary-2: #eeeef2;
  --xc-primary-3: #dedcea;
  --xc-primary-4: #c7c1e1;
  --xc-primary-5: #a194db;
  --xc-primary-6: #725ae3;
  --xc-primary-7: #5437dd;
  --xc-primary-8: #4123ce;
  --xc-primary-9: #351ab3;
  --xc-primary-10: #2b139b;
  // 固定变量
  --xc-white: #fff;
  --xc-black: #000;
  --xc-layout-header-color: #000000d9;
  --xc-layout-sider-bg: #725ae3;
  --xc-layout-sider-color: #fff;
  --xc-layout-sider-menu-selected-bg: #5437dd;
  --xc-layout-sider-menu-selected-color: #fff;
  --xc-primary-color: #725ae3;
}